body{
    background-color: lightblue;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightcyan;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1rem;
}