{% extends "base.html" %}
{% block content %}
    {% from 'bootstrap5/form.html' import render_form, render_field, render_form_row %}

    <div class="row" >

         <div class="col-6" style="background-color: grey; padding: 2em;border: 2px black solid;">
             <h2>Register</h2>
             {{ render_form(form) }}
         </div>

        <div id="message" class="col-5" style="display:none; background-color: grey; padding: 10px;border: 2px black solid;">
            <div class="progress">
                <div style="width: 0%" id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
        </div>
    </div>

    <style>
/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
}
    </style>
    <script>
        var myInput = document.getElementById("password");
        var progress_bar = document.getElementById("progressBar");
        var letter = document.getElementById("letter");
        var capital = document.getElementById("capital");
        var number = document.getElementById("number");

        var hasLower = false;
        var hasCapital = false;
        var hasNumber = false;
        myInput.onfocus = function() {
          document.getElementById("message").style.display = "block";
        }
        myInput.onblur = function() {
          document.getElementById("message").style.display = "none";
        }



        myInput.onkeyup = function() {
            let lowerCaseLetters = /[a-z]/g;
            if(myInput.value.match(lowerCaseLetters)) {
                letter.classList.remove("invalid");
                letter.classList.add("valid");
                hasLower = true;
            } else {
                letter.classList.remove("valid");
                letter.classList.add("invalid");
                hasLower = false;
            }

            let upperCaseLetters = /[A-Z]/g;
            if(myInput.value.match(upperCaseLetters)) {
                capital.classList.remove("invalid");
                capital.classList.add("valid");
                hasCapital = true;
            } else {
                capital.classList.remove("valid");
                capital.classList.add("invalid");
                hasCapital = false;
            }

            let numbers = /[0-9]/g;
            if(myInput.value.match(numbers)) {
                number.classList.remove("invalid");
                number.classList.add("valid");
                hasNumber = true;
            } else {
                number.classList.remove("valid");
                number.classList.add("invalid");
                hasNumber = false;
            }
            var counter = 0;
            if (hasLower) counter++;
            if (hasCapital) counter++;
            if (hasNumber) counter++;

            if(counter == 3) progress_bar.style.width = "100%";
            else progress_bar.style.width = (counter * 33) + "%";

        }
    </script>
{% endblock %}
